<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/avif" href="images/crab.png">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <title>Example Web Server in Rust 🦀</title>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock content %}</div>
    </body>
    <footer></footer>
</html>
